Repository Manotomo-Alliance-Support-Squad/aqua-sweet-dreams, pull requests merged in 2021-06, with the labels that each got.

#12 Apply base card wrapper CSS for notice and main message
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/globalStyles/global.css
Labels: frontend

#15 Refactor load medias functions
  frontend/src/pages/home/home.tsx
Labels: frontend

#13 Api backend database rework
  backend/main/server/__init__.py
  backend/main/server/config.py
  backend/main/server/jwt.py
  backend/main/server/models.py
  backend/main/server/resources/Announcement.py
  backend/main/server/resources/Gallery.py
  backend/main/server/resources/Game.py
  backend/main/server/resources/Message.py
  backend/main/server/resources/Multigallery.py
  backend/main/server/resources/Video.py
  backend/main/server/status.py
  backend/main/utils/dto.py
  backend/main/utils/insert.py
  backend/requirements.txt
  backend/tests.py
  backend/tests/announcement.csv
  backend/tests/gallery.csv
  backend/tests/games.csv
  backend/tests/message.csv
  backend/tests/multigallery.csv
  backend/tests/video.csv
  backend/update_db.py
  backend/user_gen.py
Labels: backend

#17 message for multi gallery
  backend/main/server/models.py
  backend/main/utils/dto.py
  backend/main/utils/insert.py
  backend/tests/multigallery.csv
  frontend/src/components/gallery/artworkCard/multiArtworkCard.tsx
  frontend/src/components/gallery/multiGallerySection.tsx
  frontend/src/models/artwork.ts
  frontend/src/pages/home/home.tsx
Labels: backend, frontend

#16 Frontend retheme
  README.md
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/backgrounds/App-root-bg-by-Kenn.svg
  frontend/src/assets/backgrounds/App-root-bg.svg
  frontend/src/assets/backgrounds/bg.png
  frontend/src/assets/backgrounds/footer-bg-by-Rogue.png
  frontend/src/assets/backgrounds/header-bg-by-Chainwalker.png
  frontend/src/assets/backgrounds/header_bg.png
  frontend/src/assets/cards/AKUKIN_Card_Header.png
  frontend/src/assets/cards/AKUKIN_Card_Header1.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base.png
  frontend/src/assets/cards/AKUKIN_Card_footer.png
  frontend/src/assets/cards/rara_footer_haachama.png
  frontend/src/assets/cards/rara_header2_haachama.png
  frontend/src/assets/cards/rara_header_haachama.png
  frontend/src/components/comboSection/comboSection.css
  frontend/src/components/footerSection/footer.css
  frontend/src/components/footerSection/footer.tsx
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/headerSection/header.css
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/inPageNav/inPageNav.tsx
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/navigation/altnav.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/components/navigation/navbar.tsx
  frontend/src/components/videoSection/videoCard.css
  frontend/src/index.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/globalStyles/global.css
Labels: frontend

#25 Fix/header base card
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_10.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_12.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_14.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_6.png
  frontend/src/assets/cards/AKUKIN_Card_Header_Base_8.png
  frontend/src/assets/icons/translateIcon.svg
  frontend/src/components/headerSection/header.css
  frontend/src/pages/home/home.css
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
Labels: bug, frontend

#27 change the message to what the aqua guys updated it to.
  frontend/src/pages/home/home.tsx
Labels: frontend

#30 Add blur effect for Gallery and MultiGallery
  .gitignore
  backend/main/server/models.py
  backend/main/server/resources/Multigallery.py
  backend/main/utils/blur.py
  backend/main/utils/insert.py
  backend/requirements.txt
  frontend/package.json
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gallery/artworkCard/artworkImage.tsx
  frontend/src/components/gallery/artworkCard/multiArtworkCard.tsx
  frontend/src/models/artwork.ts
Labels: enhancement, frontend

#24 sysadmin stuffs
  ansible/hosts/hosts.yml
  ansible/playbooks/holosite.yml
  ansible/vars/vars.yml
  systemd/aqua.service
Labels: documentation

#28 missed a line
  frontend/src/pages/home/home.tsx
Labels: frontend

#22 Enable multiple anchors and to top single anchor
  frontend/src/App.tsx
  frontend/src/assets/icons/anchorIcon.svg
  frontend/src/assets/icons/toTopAnchorIcon.svg
  frontend/src/components/anchor/anchorButton.tsx
  frontend/src/components/anchor/anchorMultipleSection.tsx
  frontend/src/components/anchor/anchorSection.css
  frontend/src/components/anchor/anchorSingleSection.tsx
  frontend/src/components/anchorSupportedSection/anchorSupportedSection.tsx
  frontend/src/components/comboSection/comboSection.tsx
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/videoSection/videoCard.tsx
  frontend/src/models/achor.ts
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#29 fix hover title of to_top button and change credit to credits in sidebar
  frontend/src/assets/icons/toTopAnchorIcon.svg
  frontend/src/components/anchor/anchorSection.css
  frontend/src/pages/home/home.tsx
Labels: frontend

#31 Multigallery card display
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/multiArtworkCard.tsx
Labels: frontend

#33 Add game section, Fix anchor bugs
  backend/main/server/models.py
  backend/main/utils/insert.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/icons/toTopAnchorIcon.svg
  frontend/src/components/anchor/anchorButton.tsx
  frontend/src/components/anchor/anchorMultipleSection.tsx
  frontend/src/components/anchor/anchorSection.css
  frontend/src/components/anchor/anchorSingleSection.tsx
  frontend/src/components/anchorSupportedSection/anchorSupportedSection.tsx
  frontend/src/components/gallery/artworkCard/artworkImage.tsx
  frontend/src/components/gamesSection/gameCard/gameCard.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/gamesSection/gameSection.css
  frontend/src/components/gamesSection/gameSection.tsx
  frontend/src/components/gamesSection/gameWindow.tsx
  frontend/src/components/inPageNav/inPageNav.tsx
  frontend/src/components/navigation/altnav.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/controllers/mano-aloe.service.ts
  frontend/src/models/anchor.ts
  frontend/src/models/game.ts
  frontend/src/models/response.ts
  frontend/src/pages/home/home.tsx
  frontend/src/services/session.service.ts
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/globalStyles/global.css
Labels: bug, enhancement, frontend
