Repository Manotomo-Alliance-Support-Squad/aqua-sweet-dreams, pull requests merged in 2021-05, with the labels that each got.

#1 Add theme setup for CSS properties, Refactor CardStyles and fixed bug related to BaseCard
  frontend/src/App.css
  frontend/src/components/announcementSection/announcementCard.tsx
  frontend/src/components/announcementSection/announcementSection.tsx
  frontend/src/components/archiveSection/archiveCard.tsx
  frontend/src/components/archiveSection/archiveSection.tsx
  frontend/src/components/comboSection/comboSection.tsx
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gallery/gallerySection.tsx
  frontend/src/components/headerSection/header.css
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/inPageNav/inPageNav.tsx
  frontend/src/components/languageSwitch/languageSwitch.tsx
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/components/navigation/navbar.css
  frontend/src/components/navigation/navbar.tsx
  frontend/src/components/videoSection/videoCard.css
  frontend/src/components/videoSection/videoCard.tsx
  frontend/src/index.css
  frontend/src/models/message.ts
  frontend/src/pages/gallery/art.tsx
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.css
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
  frontend/src/shared/globalStyles/global.css
Labels: bug, enhancement, front-end

#2 Refactor height logic by using CSS as a replacement
  frontend/src/components/messageSection/messageCard/messageCard.css
  frontend/src/components/messageSection/messageCard/messageCard.tsx
Labels: enhancement, front-end

#3 fix position of announcement cards to not be embedded in the video
  frontend/src/pages/home/home.tsx
Labels: bug, front-end

#7 remove several deps and bump all versions
  frontend/package.json
Labels: frontend

#10 Add Anchor components
  frontend/src/components/anchor/anchorButton.tsx
  frontend/src/components/anchor/anchorMultipleSection.tsx
  frontend/src/components/anchor/anchorSection.css
  frontend/src/components/anchor/anchorSingleSection.tsx
  frontend/src/components/anchorSupportedSection/anchorSupportedSection.tsx
  frontend/src/models/achor.ts
  frontend/src/pages/home/home.css
  frontend/src/shared/globalStyles/global.css
Labels: frontend
